<h1>Result</h1>
<p>Your word: <strong><%= @answer %></strong></p>
<p>Your letters: <%= @letters.join(', ') %></p>
<p>Status: <%= @response %></p>
<p>Total Points: <%=  session[:points] %></p>

<%= link_to "Play again", new_path %>
